xxxxx

xxxxxx

## Importing data

In [1]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

%matplotlib inline

In [4]:
airports = pd.read_csv('flight-delays/airports.csv')
airports.shape

(322, 7)

In [5]:
airports.head(1)

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.4404

In [6]:
flights = pd.read_csv('flight-delays/flights.csv')
flights.shape

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(5819079, 31)

In [7]:
flights.head(1)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
code_1 = pd.read_csv('flight-delays/L_AIRPORT_ID.csv')
code_1.shape

(6492, 2)

In [9]:
code_1.head(1)

    Code                             Description
0  10001  Afognak Lake, AK: Afognak Lake Airport

In [10]:
code_2 = pd.read_csv('flight-delays/L_AIRPORT.csv')
code_2.shape

(6510, 2)

In [11]:
code_2.head(1)

  Code                             Description
0  01A  Afognak Lake, AK: Afognak Lake Airport

## process Airport code

###### select number codes to convert them to letters codes

In [12]:
origin_num_code = flights['ORIGIN_AIRPORT'].apply(lambda x: 1 if len(str(x))!=3 else 0).sum()

distinaton_num_code = flights['DESTINATION_AIRPORT'].apply(lambda x: 1 if len(str(x))!=3 else 0).sum()

print('origin_num_code :',origin_num_code,'  %',round(origin_num_code/flights.shape[0]*100) )
print('distinaton_num_code :',distinaton_num_code,'  %',round(distinaton_num_code/flights.shape[0]*100))

origin_num_code : 486165   % 8.0
distinaton_num_code : 486165   % 8.0

In [13]:
# flights with number codes : FNC

FNCO = flights[flights['ORIGIN_AIRPORT']\
              .apply(lambda x: True if len(str(x))!=3 else False)].copy()


FNCD = flights[flights['DESTINATION_AIRPORT']\
              .apply(lambda x: True if len(str(x))!=3 else False)].copy()

In [14]:
FNCO['ORIGIN_AIRPORT'] = FNCO['ORIGIN_AIRPORT'].apply(lambda x : int(x))
FNCD['DESTINATION_AIRPORT'] = FNCD['DESTINATION_AIRPORT'].apply(lambda x : int(x))
print(FNCO['ORIGIN_AIRPORT'].dtypes)
print(FNCD['DESTINATION_AIRPORT'].dtypes)

int64
int64

In [15]:
print ('unique origin airport:',len(FNCO['ORIGIN_AIRPORT'].unique()))
print ('unique destination airport:',len(FNCD['DESTINATION_AIRPORT'].unique()))

unique origin airport: 306
unique destination airport: 307

In [16]:
airports_codes1 = FNCO['ORIGIN_AIRPORT'].unique().tolist()

In [17]:
airports_codes2 = FNCD['DESTINATION_AIRPORT'].unique().tolist()

In [18]:
airports_codes = airports_codes1 + airports_codes2
len(np.unique(airports_codes2))

307

In [19]:
code_1.columns

Index(['Code', 'Description'], dtype='object')

In [20]:
code_1['Code'] = code_1['Code'].apply(lambda x : int(x))

In [21]:
code_num = code_1[code_1['Code']\
              .apply(lambda x: True if x in airports_codes else False)].copy()

In [22]:
len(code_num['Code'].unique())

307

In [23]:
code_num

       Code                                        Description
119   10135  Allentown/Bethlehem/Easton, PA: Lehigh Valley ...
120   10136                      Abilene, TX: Abilene Regional
124   10140  Albuquerque, NM: Albuquerque International Sun...
125   10141                    Aberdeen, SD: Aberdeen Regional
130   10146             Albany, GA: Southwest Georgia Regional
138   10154                  Nantucket, MA: Nantucket Memorial
139   10155                            Waco, TX: Waco Regional
141   10157  Arcata/Eureka, CA: California Redwood Coast Hu...
142   10158     Atlantic City, NJ: Atlantic City International
149   10165                              Adak Island, AK: Adak
154   10170                         Kodiak, AK: Kodiak Airport
168   10185           Alexandria, LA: Alexandria International
189   10208        Augusta, GA: Augusta Regional at Bush Field
237   10257                   Albany, NY: Albany International
248   10268                    Waterloo, IA: Waterloo Regional
259   10279  Amarillo, TX: Rick Husband Amarillo International
278   10299  Anchorage, AK: Ted Stevens Anchorage Internati...
310   10333                 Alpena, MI: Alpena County Regional
348   10372         Aspen, CO: Aspen Pitkin County Sardy Field
373   10397  Atlanta, GA: Hartsfield-Jackson Atlanta Intern...
384   10408               Appleton, WI: Appleton International
399   10423       Austin, TX: Austin - Bergstrom International
406   10431                  Asheville, NC: Asheville Regional
409   10434  Scranton/Wilkes-Barre, PA: Wilkes Barre Scrant...
444   10469  Kalamazoo, MI: Kalamazoo/Battle Creek Internat...
503   10529                Hartford, CT: Bradley International
524   10551                         Bethel, AK: Bethel Airport
534   10561                     Bakersfield, CA: Meadows Field
550   10577  Binghamton, NY: Greater Binghamton/Edwin A. Li...
554   10581                   Bangor, ME: Bangor International
...     ...                                                ...
4685  14908    Santa Ana, CA: John Wayne Airport-Orange County
4727  14952           Springfield, IL: Abraham Lincoln Capital
4734  14960  Wichita Falls, TX: Sheppard AFB/Wichita Falls ...
4760  14986  Sarasota/Bradenton, FL: Sarasota/Bradenton Int...
4790  15016      St. Louis, MO: St Louis Lambert International
4798  15024                 Charlotte Amalie, VI: Cyril E King
4800  15027                Christiansted, VI: Henry E. Rohlsen
4813  15041   Sun Valley/Hailey/Ketchum, ID: Friedman Memorial
4820  15048   Sioux City, IA: Sioux Gateway/Col. Bud Day Field
4842  15070   Newburgh/Poughkeepsie, NY: Stewart International
4867  15096       Syracuse, NY: Syracuse Hancock International
5016  15249         Tallahassee, FL: Tallahassee International
5060  15295                         Toledo, OH: Toledo Express
5069  15304                     Tampa, FL: Tampa International
5087  15323     Bristol/Johnson City/Kingsport, TN: Tri Cities
5118  15356                        Trenton, NJ: Trenton Mercer
5131  15370                     Tulsa, OK: Tulsa International
5137  15376                   Tucson, AZ: Tucson International
5141  15380                  Traverse City, MI: Cherry Capital
5150  15389  Twin Falls, ID: Joslin Field - Magic Valley Re...
5161  15401       Texarkana, AR: Texarkana Regional-Webb Field
5170  15411                   Tyler, TX: Tyler Pounds Regional
5171  15412                        Knoxville, TN: McGhee Tyson
5254  15497      St. Augustine, FL: Northeast Florida Regional
5359  15607                    Valdosta, GA: Valdosta Regional
5375  15624  Valparaiso, FL: Eglin AFB Destin Fort Walton B...
5565  15841                     Wrangell, AK: Wrangell Airport
5630  15919      Fayetteville, AR: Northwest Arkansas Regional
5685  15991                       Yakutat, AK: Yakutat Airport
5908  16218             Yuma, AZ: Yuma MCAS/Yuma International

[307 rows x 2 columns]

In [24]:
Airport_codes = pd.merge(code_num,code_2, how='left', on=['Description'])
print(Airport_codes.shape) 
print(Airport_codes.head(1))

(310, 3)
   Code_x                                        Description Code_y
0   10135  Allentown/Bethlehem/Easton, PA: Lehigh Valley ...    ABE

In [25]:
duplicate_codes = Airport_codes[Airport_codes['Description'].duplicated(keep=False)]
duplicate_codes

     Code_x                                   Description Code_y
21    10423  Austin, TX: Austin - Bergstrom International    AUS
22    10423  Austin, TX: Austin - Bergstrom International    BSM
135   12173   Honolulu, HI: Daniel K Inouye International    HIK
136   12173   Honolulu, HI: Daniel K Inouye International    HNL
308   16218        Yuma, AZ: Yuma MCAS/Yuma International    NYL
309   16218        Yuma, AZ: Yuma MCAS/Yuma International    YUM

In [26]:
# check duplicate codes with airports dataset provided by kaggle

dup_codes_list = duplicate_codes['Code_y'].tolist()
print(dup_codes_list)
airports[airports.IATA_CODE.apply(lambda x: True if x in dup_codes_list else False)]

['AUS', 'BSM', 'HIK', 'HNL', 'NYL', 'YUM']

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
22,AUS,Austin-Bergstrom International Airport,Austin,TX,USA,30.19453,-97.66987
141,HNL,Honolulu International Airport,Honolulu,HI,USA,21.31869,-157.92241
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [27]:
print(len(Airport_codes))
Airport_codes.head(5)

310

   Code_x                                        Description Code_y
0   10135  Allentown/Bethlehem/Easton, PA: Lehigh Valley ...    ABE
1   10136                      Abilene, TX: Abilene Regional    ABI
2   10140  Albuquerque, NM: Albuquerque International Sun...    ABQ
3   10141                    Aberdeen, SD: Aberdeen Regional    ABR
4   10146             Albany, GA: Southwest Georgia Regional    ABY

In [28]:
# drop codes not find in airports dataset
x = ['BSM','HIK','NYL']
Airport_codes = Airport_codes.drop(Airport_codes[Airport_codes.Code_y.isin(x)].index)

In [29]:
print(len(Airport_codes))
Airport_codes.head(1)

307

   Code_x                                        Description Code_y
0   10135  Allentown/Bethlehem/Easton, PA: Lehigh Valley ...    ABE

In [30]:
issue_code=flights[flights.apply(lambda row: True if (len(str(row['ORIGIN_AIRPORT']))!=3)|\
                      (len(str(row['DESTINATION_AIRPORT']))!=3)
                      else False,axis=1)].copy()

print(len(issue_code))
print(issue_code.head(3))

486165
         YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER  \
4385712  2015     10    1            4      AA           1230      N3DBAA
4385713  2015     10    1            4      DL           1805      N696DL
4385714  2015     10    1            4      NK            612      N602NK

        ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  \
4385712          14747               11298                    5
4385713          14771               13487                    5
4385714          12889               13487                    5

             ...        ARRIVAL_TIME  ARRIVAL_DELAY  DIVERTED  CANCELLED  \
4385712      ...               543.0          -19.0         0          0
4385713      ...               528.0          -10.0         0          0
4385714      ...               448.0          -14.0         0          0

         CANCELLATION_REASON  AIR_SYSTEM_DELAY  SECURITY_DELAY  AIRLINE_DELAY  \
4385712                  NaN               NaN             NaN            NaN
4385713                  NaN               NaN             NaN            NaN
4385714                  NaN               NaN             NaN            NaN

         LATE_AIRCRAFT_DELAY  WEATHER_DELAY
4385712                  NaN            NaN
4385713                  NaN            NaN
4385714                  NaN            NaN

[3 rows x 31 columns]

In [34]:
# fix flight codes (convert numbers to letters)

good_code=flights[flights.apply(lambda row: True if (len(str(row['ORIGIN_AIRPORT']))==3)|\
                      (len(str(row['DESTINATION_AIRPORT']))==3)
                      else False,axis=1)].copy()

print(len(good_code))
print(good_code.head(3))

5332914
   YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER  \
0  2015      1    1            4      AS             98      N407AS
1  2015      1    1            4      AA           2336      N3KUAA
2  2015      1    1            4      US            840      N171US

  ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE      ...        \
0            ANC                 SEA                    5      ...
1            LAX                 PBI                   10      ...
2            SFO                 CLT                   20      ...

   ARRIVAL_TIME  ARRIVAL_DELAY  DIVERTED  CANCELLED  CANCELLATION_REASON  \
0         408.0          -22.0         0          0                  NaN
1         741.0           -9.0         0          0                  NaN
2         811.0            5.0         0          0                  NaN

   AIR_SYSTEM_DELAY  SECURITY_DELAY  AIRLINE_DELAY  LATE_AIRCRAFT_DELAY  \
0               NaN             NaN            NaN                  NaN
1               NaN             NaN            NaN                  NaN
2               NaN             NaN            NaN                  NaN

   WEATHER_DELAY
0            NaN
1            NaN
2            NaN

[3 rows x 31 columns]

In [31]:
def get_code(x):
    #print(type(x))
    data = Airport_codes
    code = data[data['Code_x']==int(x)]['Code_y'].item()
    #print(type(code))
    return code

In [32]:
issue_code['DESTINATION_AIRPORT'] = issue_code['DESTINATION_AIRPORT']\
                                  .apply(lambda x: get_code(x))

In [33]:
issue_code['ORIGIN_AIRPORT'] = issue_code['ORIGIN_AIRPORT']\
                             .apply(lambda x: get_code(x))

In [35]:
issue_code['DESTINATION_AIRPORT'].sample(5)

4793393    BWI
4677959    MSN
4708932    BOS
4748922    DFW
4609953    DFW
Name: DESTINATION_AIRPORT, dtype: object

In [36]:
issue_code['ORIGIN_AIRPORT'].head(5)

4385712    SEA
4385713    SFO
4385714    LAS
4385715    LAX
4385716    SFO
Name: ORIGIN_AIRPORT, dtype: object

In [37]:
clean_flights = pd.concat([good_code, issue_code], ignore_index=True)

In [41]:
# check that data is fixed
origin_num_code_x = clean_flights['ORIGIN_AIRPORT'].apply(lambda x: 1 if len(str(x))!=3 else 0).sum()

distinaton_num_code_x = clean_flights['DESTINATION_AIRPORT'].apply(lambda x: 1 if len(str(x))!=3 else 0).sum()

print('origin_num_code :',origin_num_code_x,'  %',round(origin_num_code_x/clean_flights.shape[0]*100) )
print('distinaton_num_code :',distinaton_num_code_x,'  %',round(distinaton_num_code_x/clean_flights.shape[0]*100))

origin_num_code : 0   % 0.0
distinaton_num_code : 0   % 0.0

In [39]:
# save the full_data in CSV file

url = '../ML-Project/flight-delays/clean_flights.csv'

clean_flights.to_csv(url,index=False)